In [1]:
import tabulate, logging
import Hql
from pathlib import Path
logging.getLogger().setLevel(logging.DEBUG)

conf_path = './conf'
conf = Hql.Config(Path(conf_path))

###

query = r"""
database('json').macro('network')
| project ['@timestamp'], src_ip=toip4(source.ip), src_port=source.port, dest_ip=toip4(destination.ip), dest_port=destination.port
| summarize count() by src_ip
"""

data = Hql.run_query(query, )

AttributeError: module 'Hql' has no attribute 'make_query'

In [4]:
import tabulate
data = [["Sun",696000,1989100000],
         ["Earth",6371,5973.6],
         ["Moon",1737,73.5],
         ["Mars",3390,641.85]]
table = tabulate.tabulate(data, tablefmt='html')
table

test

'<table>\n<tbody>\n<tr><td>Sun  </td><td style="text-align: right;">696000</td><td style="text-align: right;">   1.9891e+09</td></tr>\n<tr><td>Earth</td><td style="text-align: right;">  6371</td><td style="text-align: right;">5973.6       </td></tr>\n<tr><td>Moon </td><td style="text-align: right;">  1737</td><td style="text-align: right;">  73.5       </td></tr>\n<tr><td>Mars </td><td style="text-align: right;">  3390</td><td style="text-align: right;"> 641.85      </td></tr>\n</tbody>\n</table>'