In [1]:
import numpy as np
import pandas as pd
import pytae as pt
import seaborn as sns
penguins = sns.load_dataset('penguins')

In [2]:
# get a list of columns
penguins.cols()

['bill_depth_mm',
 'bill_length_mm',
 'body_mass_g',
 'flipper_length_mm',
 'island',
 'sex',
 'species']

In [3]:
# get a list of columns in original order
penguins.cols(ascending=None)

['species',
 'island',
 'bill_length_mm',
 'bill_depth_mm',
 'flipper_length_mm',
 'body_mass_g',
 'sex']

In [4]:
#add a group count
df = (
    penguins
    .group_x()
)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,n
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,23.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,24.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,24.0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,24.0

In [5]:
# handle missing i.e. str missing or NaN is changed to . and numeric NaN to 0

df = (
    penguins
    .handle_missing(fillna='$')
)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,n
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,23.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,24.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,24.0
3,Adelie,Torgersen,0.0,0.0,0.0,0.0,$,0.0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,24.0

In [6]:
df.clip()